{% extends "MaxJobeetBundle::layout.html.twig" %}

{% block content %}
    
    {% for category in categories %}
    <div class="category_{{ category.slug }}">
        <h1><a href="{{ path('max_category', { 'slug': category.slug }) }}">{{ category.name }}</a></h1>
        <div class="feed">
            <a href="#">Feed</a>
        </div>

        {{ include ('MaxJobeetBundle:parts:list.html.twig', {'items': category.activejobs}) }}

        {% if category.morejobs %}
            <div class="more_jobs">
                and <a href="{{ path('max_category', { 'slug': category.slug }) }}">{{ category.morejobs }}</a>
                more...
            </div>
        {% endif %}
    </div>
    {% endfor %}

{% endblock %}